.main {
  max-width: var(--shell-width);
  margin: 0 auto;
  padding: 0 var(--page-margin);
  min-height: 100vh;
}

@media (max-width: 768px) {
  .main {
    padding: 0 var(--page-margin-mobile);
  }
}
