.shell {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1;
  padding: 32px 24px 48px;
}

@media (min-width: 1024px) {
  .main {
    max-width: 1440px;
    margin: 0 auto;
    padding: 48px 48px 64px;
    width: 100%;
  }
}
