.nav {
  display: flex;
  gap: 24px;
  border-bottom: 1px solid rgba(71, 71, 71, 0.20);
  margin-bottom: 48px;
}

@media (max-width: 768px) {
  .nav {
    display: none;
  }
}

.item {
  padding-bottom: 12px;
  font-size: 0.75rem;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.40);
  text-decoration: none;
  transition: color 0.1s;
  border-bottom: 2px solid transparent;
  margin-bottom: -1px;
}

.item:hover {
  color: var(--white);
}

.itemActive {
  color: var(--white);
  border-bottom: 2px solid #fff;
}
